/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/03/2015, 6:29:15 PM
    Author     :     margin-bottom: 0;
NKlaze
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  margin-bottom: 1px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  padding-top: 10px;
}

/*
-------------------------------------------------- */
a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a[href] {
    color: rgb(127,148,87);
}

a[href]:hover {
    color: rgb(127,148,87);
    text-decoration: underline;
}

/* RBG Victoria branding
-------------------------------------------------- */
#rbgv-branding {
    background-color: #41463f;
    border-bottom-color: #bb9d13;
    border-bottom-width: 4px;
    border-radius: 0;
}

#rbgv-branding a.navbar-brand {
    color: #d7bb44 !important;
}

#rbgv-branding img.rbgv-logo-navbar {
    height: 35px;
    margin-top: -7px;
}

.social-media {
    display: none;
    float: right;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .social-media {
        display: block;
    }
}

.social-media>li {
    float:right;
}

.social-media a[target=_blank] {
    background-image: none;
}

.social-media>li>a {
    padding-left: 5px;
    padding-right: 5px;
}

.social-media>li:last-of-type>a {
    margin-right: 10px;
}

.social-media span.icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-image: url(http://www.rbg.vic.gov.au/common/img/sprite-icons.png);
    background-color: rgb(65, 70, 63);
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.social-media .icon-facebook-solid {
    background-repeat: no-repeat;
    background-position: -26px 5px;
}

.social-media .icon-facebook-solid:hover {
    background-position: -108px 5px;
}

.social-media .icon-twitter-solid {
    background-repeat: no-repeat;
    background-position: 5px 4px;
}

.social-media .icon-twitter-solid:hover {
    background-position: -77px 4px;
}

.social-media .icon-instagram-solid {
    background-repeat: no-repeat;
    background-position: -51px 4px;    
}

.social-media .icon-instagram-solid:hover {
    background-position: -133px 4px;
}





/* Top navigation bar
-------------------------------------------------- */
@media (max-width: 768px) {
    #rbg-census-navigation {
        position: relative;
        top: -56px;
    }
    
    .home-link {
        margin-left: 0 !important;
    }
}

#rbg-census-navigation {
    background-color: transparent;
    border-bottom: 0;
}



.rbgcensus .navbar, .vicflora .navbar {
    margin-bottom: 0;
}

.home-link {
    margin-left: -15px;
}

/* Banner
-------------------------------------------------- */

.rbgcensus .page-header, .vicflora .page-header {
    background-color: transparent;
    margin: 0 0 5px 0;
    padding: 0 0 1rem 0;
    border-bottom: solid 1px rgb(231, 231, 231);
}

#logo, #name-and-subtitle {
    float: left;
}

#name-and-subtitle {
    padding: 0 0 2rem 0;
}

#site-name a {
    font-size: 80px;
    color: rgb(127,148,87);
    letter-spacing: -3px;
}

#site-name a:hover {
    text-decoration: none;
}

#subtitle {
    font-size: 30px;
    line-height: 0;
}

#hidden-login-link {
    color: transparent;
}

#hidden-login-link:hover {
    text-decoration: none;
    color: transparent;
}

/* Login link
-------------------------------------------------- */
.login {
    float: right;
    margin-right: 15px;
}

/* Search form
-------------------------------------------------- */

option:first-child {
    color: #999;
}

[for=search_identification_status] {
    margin-top: -10px;
}

/* Search result page
-------------------------------------------------- */
.info-box {
    position: relative;
    padding: 15px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;    
}

.info-box-header {
    padding: 0 15px 10px 15px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.terms, .numbers {
    margin-bottom: 15px;
}

.field-label {
    font-weight: bold;
}

.term, .numbers>div, .terms>div {
    clear: both;
    padding: 3px 0;
}

/* Table navigation
-------------------------------------------------- */
.query-result-nav {
    padding: 10px 0;
}

.query-result-nav .glyphicon {
    padding: 0 5px;
}

/* Detail pages
-------------------------------------------------- */
.taxon-info, .plant-info, .accession-info,
.bed-info, .grid-info {
    margin-bottom: 20px;
}

/* Result table
-------------------------------------------------- */
.result-table td.table-taxon-header, .result-table td.table_bed_header {
    padding-top: 20px;
    padding-bottom: 3px;
    border-bottom: solid 1px #cccccc;
}

td.table_bed_header a {
    font-weight: bold;
}

td.table-taxon-header .taxon-info {
    margin-bottom: 0;
}

td.table-taxon-header .taxon-info div {
    display: inline-block;
}

td.table-taxon-header .taxon-info div:nth-child(1) {
    width: 79%;
}

td.table-taxon-header .taxon-info div:nth-child(2) {
    width: 20%;
    text-align: right;
}

.taxon-name {
    font-weight: bold;
}

.common-name {
    font-weight: bold;
    color: #999999;
}

.family {
    font-weight: bold;
}

.table th {
    vertical-align: top !important;
}

/* Collapse/expand
-------------------------------------------------- */
.collapsible, .expandable {
  padding-right: 5px;
}

.all {
    margin-top: -20px;
    margin-bottom: 5px;
}

td.table_bed_header .all a {
    font-weight: normal;
}


/* Open Layers map
-------------------------------------------------- */
.map {
    height: 720px;
    width:  100%;
}

#map-frame2 {
    width: 512px;
    margin: 15px auto;
}

#map-world {
    width: 512px;
    height: 350px;
}

.olControlAttribution {
    bottom: 0 !important;
}

/* Footer
-----------------------*/
.bottom {
    background-color: #41463f;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.colophon {
    padding-bottom: 5px;
}

.foundation-logo {
    background-image: url(http://data.rbg.vic.gov.au/dev/rbgcensus/css/images/rbg-vic-logo-transparent-48x35.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    color: #d7bb44;
}