#header {
    border-bottom: solid 0.0625rem #2f8a26;
}

#logo {
    float: left;
    margin-left: 0;
    padding-left: 0.3125rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 1.2rem;
}

#logo img {
    height: 6.75rem;
    width: auto;
}

#site-name {
    margin: 0; 
    padding-top: 1.25rem;
    font-size: 3rem; 
    line-height: 3.438rem; 
    letter-spacing: -0.0625rem;
}

#header #site-name a { 
    margin: 0; 
    padding: 0; 
    line-height: 55px; 
    text-decoration: none; 
    font-weight: bold; 
    letter-spacing: -0.125rem; 
    text-shadow: 0px 1px 0px #FFF; 
    color: #2f8a26;
}

#header #subtitle { 
    margin: 0; 
    font-size: 1.5625rem; 
    line-height: 1.5rem; 
    color: #999;
}	


/* Navigation menu*/
/*#navigation {
    margin-top: 0.625rem;
}*/

#navigation ul, #navigation ul li { 
    float: left; 
    margin: 0; 
    padding: 0;
}

#navigation ul { 
    width: 100%;
}
	
#navigation ul li { 
    position: relative; 
    list-style: none; 
    /*border-right: 1px solid #e3e3e3; */
    background: none; }

/*#navigation ul li a {
    padding: 5px 25px;
    text-decoration: none;
    line-height: 120%;
    display: block;
    color: #fff;
    background-color: #2f8a26;
    margin: 0 0.125rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.1875rem;
}*/

#navigation ul li a {
    padding: 5px 25px;
    text-decoration: none;
    line-height: 120%;
    display: block;
    color: #2f8a26;
    margin: 0 0.125rem;
    font-size: 1rem;
}

/*#navigation ul li a:hover { 
    text-decoration: underline;
}
*/

/*
* Search
*/
#search {
    margin: 1rem 0;
}


#footer {
    border-top: solid 0.0625rem #2f8a26;
    padding-top: 0.3125rem;
    text-align: right;
}




