/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2015, 5:44:11 PM
    Author     : NKlaze
*/

/* Flora links */
.flora-links ul {
    padding-left: 0;
}

li.flora-link {
    list-style-type: none;
}

li.flora-link a {
    display: inline-block;
    margin-bottom: 5px;
    min-width: 145px;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 4px;
    padding-right: 14px;
    text-align: center;
}

/* Distribution string */
.distr-string {
    margin: 20px 0;
}

.distr-string .region {
    font-weight: bold;
}


/* Download page
-----------------------------------------------*/
.back-to-search {
    margin-top: 20px;
}


/* Preview image
-------------------------------------------------*/
.vicflora-image-preview {
    margin-top: 30px;
}

.vicflora-image-preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vicflora-preview-caption {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 1024px;
}

/* Assertion styles
**************************************************/
span.assertion-ala-name {
    color: #959595;
    font-size: 85%;
}

/* Reference lookup autocomplete
**************************************************/
.vicflora-reference-lookup-autocomplete-list {
    max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
}

.vicflora-reference-lookup-autocomplete-list li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    font-size: 90%;
}

.vicflora-reference-lookup-autocomplete-list .ui-state-focus {
    background-color: #eee;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.vicflora-reference-lookup-autocomplete-list li, 
.vicflora-reference-lookup-autocomplete-list li a {
    cursor: pointer;
}

.alert-vicflora {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.ref_nav {
    padding-bottom: 6px;
}



/* Distribution map legend
**************************************/
.distribution-map-frame {
    position: relative;
}

