/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2015, 5:44:11 PM
    Author     : NKlaze
*/

p {
    line-height: 24px;
}

a[target="_blank"] {
    display: inline-block;
    padding-right: 16px;
    background-image: url("images/Icon_External_Link.png");
    background-repeat: no-repeat;
    background-position: right 4px;
}

.btn-success {
    background-color: rgb(127,148,87);
    border-color: rgb(127,148,87);
}

.btn-default {
    background-color: #eee;
}

a.btn-default {
    color: #333;
}

a.btn-default:hover {
    text-decoration: none;
}

a.btn-primary {
    color: #fff !important;
}

a.btn-primary:hover {
    text-decoration: none;
}

.table th {
    background-color: #ccc;
}


/* VicFlora classification
-----------------------------------------------------*/
.classification .currentname {
    padding: 0.3em 0;
}

.cl-separator-higher,
.cl-separator-subordinate {
    width: 100%;
    text-align: right;
}

.cl-separator-higher {
    padding: 0.3em 0;
    border-bottom: solid 1px rgb(127,148,87);
}

.cl-separator-subordinate {
    padding: 0.3em 0;
    border-top: solid 1px rgb(127,148,87);
}

.cl-separator-higher .ui-icon, .cl-separator-subordinate .ui-icon {
    display: inline-block;
}

.classification.currenttaxon {
    padding: 0.8em 0;
}

span.indent {
    display: inline-block;
    width: 1.5em;
}

span.taxon-rank {
    display: inline-block;
    width: 10em;
    color: #999;
}

/* VicFlora name format
----------------------------------------------------------*/
.name-entry a,
.taxon-classification a,
.classification a,
.currentname a {
    text-decoration: none;
    color: inherit;
}

.namebit {
    font-weight: bold;
}

.currentname .namebit,
.currentname .name {
    color: rgb(127,148,87);
}

.oldname .namebit {
    color: #aaa;
}

.italic .namebit,
.italic .name {
    font-style: italic;
}

h2 .author {
    font-size: 14px;
    font-weight: normal;
}

/* VicFlora detail page 
-----------------------------------------------------*/
.back-link a {
  display: inline-block;
  margin: 3px 0;
  padding: 3px 5px;
  background-color: rgb(127,148,87);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.back-link a:hover {
    color: #fff;
}

.back-link i.fa.fa-lg {
    padding-top: 4px;
    padding-bottom: 2px;
}

.classicfcation-bread-crumbs {
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.crumb {
    display: inline-block;
}

.crumb:last-child::after {
    content: "";
}

.crumb::after {
    content: ">";
    display: inline-block;
    padding-left: 5px;
}

select[name="siblings"], select[name="children"] {
    max-width: 200px;
    border-color: #ddd;
}

.vicflora-label {
    display: inline-block;
    width: 168px;
    font-weight: bold;
    vertical-align: top;
}

.vicflora-stat-value {
    display: inline-block;
}

.status p {
    margin-bottom: 0;
}

.tab-pane {
    padding: 15px 0;
}

.scientific_name {
    font-style: italic;
}

.apni {
    display: inline-block;
    margin-left: 15px;
}

#svg-avhdistribution {
    min-width: 400px;
    min-height: 242px;
}

#detail-page-tab {
    margin-top: 30px;
}

/* Bioregions table */

table.bioregions td, table.occurrences-at-point td {
    vertical-align: middle !important;
}

.bioregions td, .bioregions th,
.occurrences-at-point td, .occurrences-at-point {
    padding: 0 0.375rem;
    border: solid 0.0625rem #aaaaaa;
}

.bioregions th,
.occurrences-at-point th {
    background-color: #cccccc;
}

span.legend-item {
    line-height: 0.75;
}

span.legend-symbol {
    display: inline-block;
    height: 15px;
    width: 30px;
    border: solid 1px #aaaaaa;
}

.legend-item .legend-symbol {
    position: relative;
    top: 4px;
}

td .legend-symbol {
    height: 14px;
    position: relative;
    top: 2px;
}

span.legend-label {
    display: inline-block;
    margin-left: 10px;
    margin-left: 0.625rem;
}

.bioregions-link {
    margin-top: 10px;
}

#bioregion_comparison {
    border-collapse: collapse;
}

#bioregion_comparison th, #bioregion_comparison td {
    border: solid 2px #999;
    text-align: center;
}

#bioregion_comparison th {
    padding: 15px 10px 10px 10px;
    background-color: #eee;
}

#bioregion_comparison td {
    padding: 5px 10px;
}

/* Flora links */
.flora-links ul {
    padding-left: 0;
}

li.flora-link {
    list-style-type: none;
}

li.flora-link a {
    display: inline-block;
    margin-bottom: 5px;
    min-width: 145px;
    border: solid 1px #aaa;
    border-radius: 5px;
    padding: 4px;
    padding-right: 14px;
    text-align: center;
}

/* Distribution string */
.distr-string {
    margin: 20px 0;
}

.distr-string .region {
    font-weight: bold;
}

/* Glossary
-------------------------------------*/
#glossary-first-letter {
    margin: -1px;
    padding-bottom: 5px;
}

#glossary-first-letter a {
    display: inline-block;
    text-align: center;
    width: 26px;
    padding: 3px;
    border: solid 1px rgb(127,148,87);
    border-radius: 4px;
    margin: 1px;
}

#glossary-first-letter a:hover {
    text-decoration: none;
}

#glossary-first-letter .active {
    background-color: rgb(127,148,87);
    color: #fff;
    text-decoration: none;
}

#glossary-first-letter a.active, #term-list li.active {
    font-weight: bold;
}

#definition h2 {
    margin-top: 0;
    color: rgb(127,148,87);
}

#definition .row.thumbnail-row {
    margin-top: 30px;
}

#glossary-terms {
    border-right: solid 2px rgb(127,148,87);
    height: 100%;
}

#term-list {
    padding-top: 15px;
    overflow-y: auto;
    margin-right: -14px;
}

#term-list ul {
    padding-left: 0;
    list-style-position: inside;
}

a.glossary-link {
    font-weight: bold;
}

.glossary-relationships {
    margin-top: 30px;
}

.glossary-relationships::before {
    display: block;
    color: #999;
    content: 'Relationships';
    font-variant: small-caps;
    font-weight: bold;
}

.glossary-rel-type {
    font-weight: bold;
    color: #999;
    font-size: 80%;
}

.glossary-rel-type::after {
    content: ':';
}

/* Checklists
----------------------------------------------------------*/
#capad_map {
    width: 600px;
    height: 363px;
}

#vicflora-checklist-source {
    margin-top: 30px;
}

#vicflora-checklist-source>ul {
    padding-left: 0;
    list-style-position: inside;
}

#vicflora-checklist-source>ul>li>ul {
    padding-left: 30px;
    list-style-position: inside;
}

#vicflora-checklist-source h4 {
    font-variant: small-caps;
    margin-top: 5px;
}


/* Filters/facets
-----------------------------------------------------------*/
.query ul {
    padding-left: 20px;
}

.query .glyphicon, .facets .glyphicon {
    font-size: 12px;
    padding-right: 5px;
    top: 0;
}

.query h3>.glyphicon, .facets h3>.glyphicon {
    padding-left: 5px;
}

.facets h4 {
    margin-top: 12px;
    margin-bottom: 5px;
}

.facets .checkbox label {
    padding-left: 0;
}

.facet ul {
    padding-left: 35px;
    max-height: 190px;
    overflow: auto;
    margin-bottom: 0;
}

.facet ul li.checkbox {
    padding-top: 0;
}

.facet .indent {
    padding-left: 20px;
}

.apply-filter {
    text-decoration: none;
    color: rgb(127,148,87);
    padding: 2px 4px;
    border: solid 1px #aaa;
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    float: right;
    font-size: 14px;
}

.more, .fewer {
    cursor: pointer;
}

.more:after, .fewer:after {
    content: " ...";
}

.more:focus, .fewer:focus {
    text-decoration: none;
}

.facet ul::-webkit-scrollbar {
    width: 12px;
}

.facet ul::-webkit-scrollbar-track   {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.facet ul::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background: #ddd;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

.facet ul::-webkit-scrollbar-corner {
    display: none;
}

/* Search

}

#search .form-group {
-----------------------------------------------------------*/
#search {
    margin-top: 1rem;
    width: 100%;
}

#search label {
    font-weight: normal;
}


.query-result-nav {
    padding: 0;
}

.query-result-nav .fa {
    padding: 0 5px;
    color: #999;
}

.query-result-nav a>.fa {
    color: inherit;
}

.query-result-rows {
    display: inline-block;
    width: 12em;
    text-align: center;
    border: solid 1px #cccccc;
    border-radius: 4px;
    padding: 4px;
    margin: 0 10px;
}

.query-result-header {
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.query-result-footer {
    padding-top: 10px;
    margin-top: 10px;
}

.query-result-header::after {
    display: block;
    content: '';
    clear: both;
}

.num-matches {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-name-entry {
    padding: 5px 0;
}

/* Download page
-----------------------------------------------*/
.back-to-search {
    margin-top: 20px;
}

/* Thumbnails
-----------------------------------------------*/
.row.thumbnail-row {
    margin-right: -2px;
    margin-left: -2px;
}

.thumbnail-row .col-xs-6, .thumbnail-row .col-sm-4,
.thumbnail-row .col-md-3, .thumbnail-row .col-lg-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.thumbnail-row .thumbnail {
    width: 100%;
    height: 160px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    box-shadow: 2px 2px #eee;
}

.thumb span {
    display: table-cell;
    vertical-align: middle;
    min-height: 160px;
    min-width: 160px;
    overflow: hidden;
}

.thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Preview image
-------------------------------------------------*/
.vicflora-image-preview {
    margin-top: 30px;
}

.vicflora-image-preview img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vicflora-preview-caption {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 1024px;
}

/* Hero image and profile map
-------------------------------------------------*/
#tab-profile>div>div {
    margin-bottom: 20px;
}

.profile-rigth-pane>div {
    margin-bottom: 20px;
}

.profile-map img, .hero-image>div {
    border: solid 1px #ccc;
}

.hero-image>div {
    padding: 4px;
}

.hero-image img, .profile-map img {
    cursor: pointer;
}

.hero-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Assertion styles
**************************************************/
span.assertion-ala-name {
    color: #959595;
    font-size: 85%;
}

/* Reference lookup autocomplete
**************************************************/
.vicflora-reference-lookup-autocomplete-list {
    max-height: 300px;
    max-width: 500px;
    overflow-y: auto;
}

.vicflora-reference-lookup-autocomplete-list li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    font-size: 90%;
}

.vicflora-reference-lookup-autocomplete-list .ui-state-focus {
    background-color: #eee;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.vicflora-reference-lookup-autocomplete-list li, 
.vicflora-reference-lookup-autocomplete-list li a {
    cursor: pointer;
}

.alert-vicflora {
    color: #333;
    background-color: #eee;
    border-color: #ccc;
}

.ref_nav {
    padding-bottom: 6px;
}




/* CHECKLIST
*********************************/
#checklist-result {
    padding-top: 40px;
}
#facets {
    padding-top: 52px;
}

#filters ul {
    padding-left: 24px;
}

.checklist-genus {
    margin-bottom: 3px;
    padding-left: 15px;
}

.checklist-species {
    padding-left: 30px;
}

.checklist-infraspecies {
    padding-left: 45px;
}

/* Override KeyBase stuff
*******************************/
.keybase-player-window h3 {
    background-color: rgb(127,148,87);
}